__pycache__/
*.lprof
*.pyc
models/*.pyc
trained*
output*
*.npy
.ipynb_checkpoints/*
.ipynb_checkpoints
weights/
*.ipynb
data-HRRS/
mboutput/*.npy
mboutput/CrusadeP/*.pfm
mboutput/CrusadeP/*.txt
*.zip
run.sh
**/output
**/debug_output
**/wandb
*.pt
wandb
models
output
debug_output
score_gengshan_kitti
pycharm_debug_kitti